body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  justify-self: center;
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #511edd, #1d1328);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

form {
  display: flexbox;
  position: relative;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button[type="submit"] {
  display: block;
  width: 90%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f4f4f4;
}

#total-expense {
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 8px;
  text-align: center;
}

body{
  background-color: #626c76;
}


button{
  background-position: center;
  background-color: #007bff;
  margin: 20px;
  padding: 10px;
}

.child{
  width: clamp(100px, 75%, 200px);
}